<div class="wrapper row3">
    <main class="hoc container clear"> 
    
      <!-- <section id="introblocks"> 
        <ul class="nospace group btmspace-80">
          <li class="one_third first">
            <figure><a class="imgover" href="#"><img src="images/logoFogon.jpg " alt=""></a>
              <figcaption>
                <h6 class="heading">El Fogòn</h6>
                <p>Aenean metus purus consectetur ac sagittis in malesuada quis nunc ut sed risus nulla etiam gravida velit.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
              <figcaption>
                <h6 class="heading">Mister Pan</h6>
                <p>Texto o vison de la empresa.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
              <figcaption>
                <h6 class="heading">Agua Maya</h6>
                <p>Pharetra etiam ut nisi non mi scelerisque consectetur maecenas vel elementum lectus cras maximus finibus.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
              <figcaption>
                <h6 class="heading">MQ Eventos</h6>
                <p>Pharetra etiam ut nisi non mi scelerisque consectetur maecenas vel elementum lectus cras maximus finibus.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
     
      <hr class="btmspace-80">
  
      <section id="overview">
        <div class="sectiontitle">
          <p class="nospace font-xs">Integer facilisis enim sollicitudin</p>
          <p class="heading underline font-x2">Dolor ut pellentesque</p>
        </div>
        <ul class="nospace group btmspace-80">
          <li class="one_third">
            <article>
              <div class="clear"><a href="#"><i class="fas fa-tape"></i></a>
                <h6 class="heading">Efficitur auctor</h6>
              </div>
              <p>Cras dui ac pretium egestas nunc maecenas scelerisque leo eget enim interdum at vulputate lorem pretium in.</p>
            </article>
          </li>
          <li class="one_third">
            <article>
              <div class="clear"><a href="#"><i class="fas fa-table-tennis"></i></a>
                <h6 class="heading">Tempor aliquam</h6>
              </div>
              <p>Sagittis arcu a magna eget cursus lacus consectetur proin imperdiet bibendum elit id molestie ipsum ut tellus.</p>
            </article>
          </li>
          <li class="one_third">
            <article>
              <div class="clear"><a href="#"><i class="fas fa-people-carry"></i></a>
                <h6 class="heading">Metus convallis</h6>
              </div>
              <p>Orci blandit ac mauris ac gravida maximus nulla curabitur convallis massa sed urna placerat sed tempor velit.</p>
            </article>
          </li>
        </ul>
        <footer class="center"><a class="btn" href="#">Mattis vestibulum</a></footer>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <section id="splitfifty" class="hoc container clear">
      <div class="sectiontitle">
        <p class="nospace font-xs">Magna ultrices eleifend suspendisse</p>
        <p class="heading underline font-x2">Posuere vivamus semper</p>
      </div>
      <div class="bgded clear" style="background-image:url('images/demo/backgrounds/03.png');"> 
        <!-- ################################################################################################ -->
        <article>
          <h6 class="heading font-x2">Tellus nec mollis sem</h6>
          <p>lacus dui pretium non elit ac interdum ullamcorper purus ut ultricies ullamcorper convallis morbi bibendum sapien in odio finibus sit amet lacinia dolor dapibus in nisl erat consectetur eu blandit.</p>
          <footer><a class="btn" href="#">Fermentum felis</a></footer>
        </article>
        <!-- ################################################################################################ -->
      </div>
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <div class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <p class="nospace font-xs">Id elementum lobortis justo donec</p>
        <p class="heading underline font-x2">Rutrum sed ligula viverra</p>
      </div>
      <ul class="nospace group team">
        <li class="one_quarter first">
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption><strong>A. Doe</strong> <em>Job Title Here</em></figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption><strong>B. Doe</strong> <em>Job Title Here</em></figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption><strong>C. Doe</strong> <em>Job Title Here</em></figcaption>
          </figure>
        </li>
        <li class="one_quarter">
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption><strong>D. Doe</strong> <em>Job Title Here</em></figcaption>
          </figure>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <p class="nospace font-xs">Nisl vitae mauris ipsum  eget</p>
        <p class="heading underline font-x2">Tincidunt elit velit auctor</p>
      </div>
      <ul id="stats" class="nospace group">
        <li><i class="fab fa-sticker-mule"></i>
          <p><a href="#">123</a></p>
          <p>Phasellus tincidunt</p>
        </li>
        <li><i class="fab fa-pied-piper-alt"></i>
          <p><a href="#">1234</a></p>
          <p>Egestas maximus</p>
        </li>
        <li><i class="fas fa-globe"></i>
          <p><a href="#">12345</a></p>
          <p>Aliquam neque</p>
        </li>
        <li><i class="fas fa-ribbon"></i>
          <p><a href="#">6789</a></p>
          <p>Curabitur sodales</p>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded" style="background-image:url('images/demo/backgrounds/04.png');">
    <section id="testimonials" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_half overlay">
        <ul class="nospace">
          <li>
            <blockquote>suscipit tellus non ligula mattis quis iaculis nunc lobortis vestibulum vehicula bibendum malesuada curabitur quis interdum mi vestibulum consectetur leo ut viverra sagittis sapien orci rhoncus nisi.</blockquote>
            <figure class="clear"><img class="circle" src="images/demo/60x60.png" alt="">
              <figcaption>
                <h6 class="heading">A. Doe</h6>
                <em>CEO / Odio tristique quis</em></figcaption>
            </figure>
          </li>
          <li>
            <footer><a class="btn inverse" href="#">View More</a></footer>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </section>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  ################################################################################################